{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "gemelo.ai API documentation",
        "title": "gemelo.ai API",
        "contact": {},
        "version": "1.0.0"
    },
    "host": "api.gemelo.ai",
    "basePath": "/",
    "paths": {
        "/v1/cloned-voices": {
            "get": {
                "security": [
                    {
                        "ClientKey": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Returns all cloned voices",
                "tags": [
                    "Voice cloning"
                ],
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Max records per request",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Page indicator ('next' and 'prev' fields in the response)",
                        "name": "cursor",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/voice_cloned.VoiceClonedDto"
                            }
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ClientKey": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Creates new cloned voice",
                "consumes": [
                    "multipart/form-data"
                ],
                "tags": [
                    "Voice cloning"
                ],
                "parameters": [
                    {
                        "type": "file",
                        "description": ".wav file (up to 60s / 32MB)",
                        "name": "audio",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Cloned voice name",
                        "name": "name",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/voice_cloned.VoiceClonedDto"
                        }
                    }
                }
            }
        },
        "/v1/cloned-voices/{clonedVoiceID}": {
            "delete": {
                "security": [
                    {
                        "ClientKey": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Deletes the cloned voice",
                "tags": [
                    "Voice cloning"
                ],
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Cloned Voice ID",
                        "name": "clonedVoiceID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "ClientKey": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Updates the cloned voice",
                "tags": [
                    "Voice cloning"
                ],
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Cloned Voice ID",
                        "name": "clonedVoiceID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Voice cloning update input",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/voice_cloned.UpdateVoiceCloneDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/voice_cloned.VoiceClonedDto"
                        }
                    }
                }
            }
        },
        "/v1/tts/convert": {
            "post": {
                "security": [
                    {
                        "ClientKey": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Converts text to speech audio file",
                "tags": [
                    "Text to speech"
                ],
                "parameters": [
                    {
                        "description": "TTS input",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/tts.convertTextDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Binary audio file",
                        "schema": {
                            "type": "file"
                        }
                    }
                }
            }
        },
        "/v1/tts/voices": {
            "get": {
                "security": [
                    {
                        "ClientKey": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Returns all voices available for the Text to speech",
                "tags": [
                    "Text to speech"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/tts.voiceDto"
                            }
                        }
                    }
                }
            }
        },
        "/v1/vc/convert": {
            "post": {
                "security": [
                    {
                        "ClientKey": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Converts voice in the uploaded audio file",
                "consumes": [
                    "multipart/form-data"
                ],
                "tags": [
                    "Voice conversion"
                ],
                "parameters": [
                    {
                        "type": "file",
                        "description": ".wav file to convert",
                        "name": "file",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "VoiceID",
                        "name": "voiceId",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Voice type (system/cloned)",
                        "name": "voiceType",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Binary audio file",
                        "schema": {
                            "type": "file"
                        }
                    }
                }
            }
        },
        "/v1/vc/voices": {
            "get": {
                "security": [
                    {
                        "ClientKey": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Returns all voices available for the Voice Conversion",
                "tags": [
                    "Voice conversion"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/vc.voiceDto"
                            }
                        }
                    }
                }
            }
        },
        "/v1/voices": {
            "get": {
                "security": [
                    {
                        "ClientKey": []
                    },
                    {
                        "ApiKey": []
                    }
                ],
                "description": "Returns all system voices available for TTS and VC",
                "tags": [
                    "Voice conversion"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/voice.publicVoiceDto"
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "gateway.VoiceLabel": {
            "type": "object",
            "properties": {
                "category": {
                    "type": "string"
                },
                "label": {
                    "type": "string"
                }
            }
        },
        "models.VoiceType": {
            "type": "string",
            "enum": [
                "system",
                "cloned"
            ],
            "x-enum-varnames": [
                "VoiceTypeSystem",
                "VoiceTypeCloned"
            ]
        },
        "null.String": {
            "type": "object",
            "properties": {
                "string": {
                    "type": "string"
                },
                "valid": {
                    "type": "boolean"
                }
            }
        },
        "tts.convertTextDto": {
            "type": "object",
            "properties": {
                "save": {
                    "type": "boolean"
                },
                "text": {
                    "type": "string"
                },
                "voiceId": {
                    "type": "integer"
                },
                "voiceType": {
                    "$ref": "#/definitions/models.VoiceType"
                }
            }
        },
        "tts.voiceDto": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "disabled": {
                    "type": "boolean"
                },
                "id": {
                    "type": "integer"
                },
                "labels": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/gateway.VoiceLabel"
                    }
                },
                "name": {
                    "type": "string"
                },
                "new": {
                    "type": "boolean"
                },
                "previewUrl": {
                    "description": "@deprecated",
                    "allOf": [
                        {
                            "$ref": "#/definitions/null.String"
                        }
                    ]
                },
                "previewUrls": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "rating": {
                    "type": "number"
                },
                "voiceTier": {
                    "type": "string"
                }
            }
        },
        "vc.voiceDto": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "disabled": {
                    "type": "boolean"
                },
                "id": {
                    "type": "integer"
                },
                "labels": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/gateway.VoiceLabel"
                    }
                },
                "name": {
                    "type": "string"
                },
                "new": {
                    "type": "boolean"
                },
                "previewUrl": {
                    "description": "@deprecated",
                    "allOf": [
                        {
                            "$ref": "#/definitions/null.String"
                        }
                    ]
                },
                "previewUrls": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "rating": {
                    "type": "number"
                },
                "voiceTier": {
                    "type": "string"
                }
            }
        },
        "voice.publicVoiceDto": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "disabled": {
                    "type": "boolean"
                },
                "id": {
                    "type": "integer"
                },
                "imageKey": {
                    "type": "string"
                },
                "labels": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/gateway.VoiceLabel"
                    }
                },
                "name": {
                    "type": "string"
                },
                "new": {
                    "type": "boolean"
                },
                "previewUrl": {
                    "description": "@deprecated",
                    "allOf": [
                        {
                            "$ref": "#/definitions/null.String"
                        }
                    ]
                },
                "previewUrls": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "rating": {
                    "type": "number"
                },
                "voiceTier": {
                    "type": "string"
                }
            }
        },
        "voice_cloned.UpdateVoiceCloneDto": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                }
            }
        },
        "voice_cloned.VoiceClonedDto": {
            "type": "object",
            "properties": {
                "createdAt": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "imageUrl": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "previewUrls": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        }
    },
    "securityDefinitions": {
        "ApiKey": {
            "type": "apiKey",
            "name": "X-API-Key",
            "in": "header"
        },
        "ClientKey": {
            "type": "apiKey",
            "name": "X-Client-Key",
            "in": "header"
        }
    }
}